<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomato</title>
  </head>


  <body>

    <app-header></app-header>
    <div id="search">
      <div id="logo">
        <span id="d">{{logo}}</span>
      </div>
      <div>
        <span id="ins">{{title}}</span>

        <div id="searchBar" >
          <select (change)="onSelect($event)">
            <option value="default">--Select Your City--</option>
            <option [value]="location.stateID" *ngFor="let location of searchLocationData">{{location.city}}</option>
          </select>


          <select>
            <option value="default">--Select Resturant--</option>
            <option *ngFor="let resturantName of resturantNameData">{{resturantName.restName}}</option>
          </select>

          <select>
            <option value="default">--Select Dish--</option>
            <option *ngFor="let dishName of dishNameData">{{dishName.MenuItem}}</option>
          </select>

        </div>
      </div>
    </div>

      <div id="quickSearch">
        <div class="quickSearchTXT">
          <span id="quickSearchTitle">{{Search}}</span>
          <span  id="quickSearchSubTitle">Find Resturants By MealType</span>
        </div>

        <div class="mainbox">
          <div class="titleContainer" *ngFor="let item of foodcardData">
            <div class="tileComponent1">
              <img [src]="item.src" class="tileComponent1" alt="Resturant 1">
            </div>

            <div class="res1">
              <a href="#" class="res1">{{item.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>

  </body>
</html>
