<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>


  <body>

    <app-header></app-header>
    <div id="search">
      <div id="logo">
        <span id="d">D!</span>
      </div>
      <div>
        <span id="ins">Search Places Near to you </span>
        <div id="searchBar" >
          <select>
            <option>Delhi</option>
            <option>Bangalore</option>
            <option>Mumbai</option>
            <option>Chennai</option>
            <option>Kolkata</option>
            <option>Hyderabad</option>
            <option>Pune</option>
          </select>

          <select>
            <option>Hydrabadi Zaika</option>
            <option>Behrauz Biryani</option>
            <option>Reddy's Biryani</option>
            <option>Almor</option>
            <option>Moms Biryani</option>
            <option>Paradise Biryani</option>
            <option>Nandu's Biryani</option>
          </select>

          <select>
            <option>Hydrabadi Dum Biryani</option>
            <option>Chicken Tandoor Dum Biryani</option>
            <option>Chicken Tandoor Masala Dum Biryani</option>
            <option>Veg Dum Biryani</option>
            <option>Maska Dum Biryani</option>
            <option>Chicken Tandoor Kabab</option>
            <option>Veg Kabab</option>
          </select>

        </div>
      </div>
    </div>

      <div id="quickSearch">
        <div class="quickSearchTXT">
          <span id="quickSearchTitle">Quick Search </span>
          <span  id="quickSearchSubTitle">Find Resturants By MealType</span>
        </div>

        <div class="mainbox">
          <div class="titleContainer" *ngFor="let item of foodcardData">
            <div class="tileComponent1">
              <img [src]="item.src" class="tileComponent1" alt="Resturant 1">
            </div>

            <div class="res1">
              <a href="#" class="res1">{{item.name}}</a>
            </div>
          </div>
        </div>
      </div>
      
      <app-footer></app-footer>

  </body>
</html>
