
/* Search  */
/* #search{
height: 500px;
width: 100%;
background-size: cover;
background-image: url('../assets/logo/bgImg.png');

} */


.innerCardData{
  position: absolute;
  left: 3%;
  margin-top: 145%;
}



#search {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden; /* Ensure the blur doesn't spill out */
}

#search::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/logo/bgImg.png')!important;
  background-size: cover;
  filter: blur(2px); /* Adjust the blur intensity as needed */
  z-index: 0; /* Place the pseudo-element behind other content */
}

/*  */

/* Quick Search */
#quickSearch{
height: 600px;
width: 80%;
margin-left: 10%;
margin-top: 20px;
}

/* quickSearch Elements */
#quickSearchTitle{
  color: rgba(110, 38, 4, 0.904);
  font-size: 30px;
  display: block;
  font-weight: bold;
  margin-left: 2%;


}
/* quickSearchSubHeading */
#quickSearchSubTitle{
  line-height: 3;
  color: rgb(183,196,204);
  margin-left: 2%;
}

/* container */
.titleContainer{
margin-top: 5%;
margin-left: 2%;
height: 180px;
width: 30%;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
float: left;


}

#brand{
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  width: fit-content;
  position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}
.tableImg{
  height: 330px;
  width: 1333px;
}
#logo{
  background-color: white;
  height: 100px;
  width: 8%;
  font-size: 75px;
  border-radius: 50%;
  margin-left: 46%;
  position:absolute;
  margin-top: 70px;

}
#d{
  
  position: absolute;
  margin-top: -9px;
  margin-left: 17px;
}

#ins{
  color:#fff;
  text-shadow: 3px 5px #000000;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  margin-top: 190px;
  margin-left: 430px;
}
#searchBar{
  /* border: 2px solid #fff; */
  height: 20px;
  width: 500px;
  margin-left: 393px;
  position: absolute;
  margin-top: 255px;

}


/* dropdown select */
select{
  height: 46px;
  width: 33%;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  float: right;
}

/* tile Components  */
.tileComponent1{
  height: 180px;
  width: 80%;
}
.tileComponent2{
  height: 180px;
  width: 81%;
}
.tileComponent3{
  height: 180px;
  width: 80%;
}
.tileComponent4{
  height: 180px;
  width: 80%;
}
.tileComponent5{
  height: 180px;
  width: 81%;
}
.tileComponent6{
  height: 180px;
  width: 80%;
}


/* resturant links  */
.res1{
  margin-top:-150px;
  margin-left: 103px;
  position: relative;
  /* text-decoration: none; */
}
/* dropdown */

